body {
  font-family: sans-serif;
  background-color: #202020;
  color: #ddd8d3;
  font-size: 14px;
}

a {
    color: #8f9d6a;
}

.prop {
  font-weight: bold;
  color: #eed1b3;
}

.null {
  color: red;
}

.bool {
  color: blue;
}

.num {
  color: blue;
}

.string {
  color: #8f9d6a;
}

.collapser {
  position: absolute;
  left: -1em;
  cursor: pointer;
}

li {
  position: relative;
}

li:after {
  content: ',';
}

li:last-child:after {
  content: '';
}

#error {
  -moz-border-radius: 8px;
  border: 1px solid #970000;
  background-color: #F7E8E8;
  margin: .5em;
  padding: .5em;
}

.errormessage {
  font-family: monospace;
}

#json {
  font-family: monospace;
  font-size: 1.1em;
}

ul {
  list-style: none;
  margin: 0 0 0 2em;
  padding: 0;
}

h1 {
  font-size: 1.2em;
}

/* Indent JSON when there's a callback. */
.callback + #json {
  padding-left: 1em;
}

.callback {
  font-family: monospace;
  color: #A52A2A;
}

#items {
  display: block;
  margin-top: 1em;
  border-width: thin;
  border-color: white;
}

.item {
  display: block;
  margin-top: 1em;
  border-width: thin;
  border-color: white;
  border-style: dotted;
}

li.item:after {
  content: '';
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1.1em;
  background-color: #202020;
  color: #8f9d6a;
  caret-color: #eed1b3;
}

input[type=submit] {
  background-color: #8f9d6a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
  font-size: 1.1em;
}

input[type=button] {
  background-color: #606060;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
  font-size: 1.1em;
}

.key {
  font-weight: bold;
  color: #eed1b3;
  font-family: monospace;
  font-size: 1.1em;
}
.value {
  font-weight: normal;
  color: #8f9d6a;
  font-family: monospace;
  font-size: 1.1em;
}

textarea {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1.1em;
  background-color: #202020;
  color: #8f9d6a;
  caret-color: #eed1b3;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background-color: #3090C7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
  font-size: 1.1em;
}

#fileList li {
  list-style: none;
  padding: 10px;
  margin: 20px 20px;
  background: #f15d22;
  background-color: #3090C7;
  color: #202020;
  font-family: monospace;
  font-weight: bold;
  border-radius: 5px;
}
